@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./images/pattern-background-desktop.svg) no-repeat;
    width: 100%;
    overflow: hidden;
    background-color: hsl(225, 100%, 94%);
    background-size: cover;
}
.container{
    margin: 50px auto;
    height: 300px;
}
.summary{
    margin: 5px;
    padding: 10px;
}
.order{
    margin-bottom: 10px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
}
p{
    color: gray;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
#top img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-repeat: no-repeat;
    width: 450px;
}
#bottom{
    width: 450px;
    background-color: white;
    display: block;
    text-align: center;
    padding: 30px;
    margin-top: -3px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
a{
    text-decoration: none;
}
.plan{
    width: 300px;
    height: 70px;
    border: 0px;
    display: flex;
    border-radius: 10px;
    margin: 10px 45px;
    background-color: hsl(225, 100%, 98%);
}
.plan img{
    padding: 10px;
}
.plan h3{
    margin: 5px 0px;
    padding: 10px 0px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
}
.plan p{
    margin-top: 30px;
    margin-left: -100px;
    padding: 10px 0px;
}
.plan a{
    margin-left: 150px;
    margin-top: -50px;
    margin-bottom: 50px;
    text-align: center;
}
.plan a:hover{
    cursor: pointer;
    color: hsl(224, 23%, 55%);
}
button{
    width: 300px;
    height: 40px;
    margin: 5px 0px 20px 0px;
    border: 0px;
    border-radius: 10px;
    background-color: hsl(245, 75%, 52%);
    box-shadow: 2px 10px 10px hsl(224, 23%, 55%);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
}
button a{
    color: white;
}
button:hover{
    cursor: pointer;
    background-color: hsl(240, 38%, 54%);
}
.btn{
    padding: 10px 0px;
}
.btn #btn-2{
    color: gray;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
}
.btn #btn-2:hover{
    color: black;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 375px) {
    body{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    #top img{
        width: 327px;
    }
    #bottom{
        width: 327px;
    }
    .plan{
        width:260px;
        margin: 0px 5px;
    }
    .plan h3{
        font-weight: 100;
        margin: 6px 11px;
        padding: 0px;
    }
    .plan p{
        margin-top: 25px;
        margin-left: -120px;
        padding: 10px 0px;
    }
    button{
        width: 260px;
    }
}